@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-family: "Avant Garde", sans-serif, serif;
  font-size: 1.5rem;
  font-weight: 700;}


@media (max-width: 600px) {
  .content {
    padding: 10vh 1rem;
    font-size: 90%;
  }
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-gif {
  position: fixed;
  height: 64px;
  width: 64px;
  height: auto;
  margin-bottom: 80px;
}

.start-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.start-button{
  margin-top: 150px;
  background-color: rgb(0, 0, 0);
  font-family: Avant Garde, sans-serif, serif;
  color:rgb(183, 171, 152);
  padding: 20px 40px;
  border: 1px solid rgb(183, 171, 152);
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  letter-spacing: 9.5px;
  font-size: 15px;
  font-weight: 700;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.start-button:hover {
  background-color:rgb(183, 171, 152);
  color: black;
  border: 1px solid #000000;
}